################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCodeCS/obj
/.vs
/LeetCodeCS/.vs/LeetCodeCS/v16
/LeetCodeCS/bin/Debug/netcoreapp2.2
